body {
  background-color: #7991f0;
  margin: 0;
}

.flex {
  display: flex;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
}
.cart-title {
  font-size: 40px;
  text-align: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.cart-outer {
  margin-left: 30px;
  margin-top: 30px;
  border: 2px solid rgb(168, 168, 168);
  background-color: aliceblue;
  width: 80%;
  display: flex;
}
.cart-name {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}
.cart-inner {
  padding-left: 10px;
  padding-bottom: 5px;
}
.cart-img {
  height: 120px;
  border: 2px solid rgb(168, 168, 168);
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}
.cart-text {
  border: 2px solid rgb(168, 168, 168);
}
.img {
  width: 90px;
  height: 90px;
  vertical-align: right;
  margin-bottom: 0.75em;
}
.categories {
  text-align: center;
  border-style: solid;
  border-radius: 25px;
  padding: 14px;
  width: 100px;
  height: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.site-header {
  text-align: left;
  margin-left: 500px;
  color: white;
}

.search-bar {
  text-align: center;
  margin-top: 20px;
}

p {
  color: white;
  margin-left: 500px;
  font-size: 1.5em;
}

.details {
  background: white;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  border-radius: 25px;
  width: 200px;
  height: 200px;
  text-align: center;
}

.top-bar {
  background-color: darkblue;
}

.categories-container {
  margin-top: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

.top-spacing {
  margin-top: 35px;
}

.search-color {
  color: white;
  margin-right: 10px;
  width: 100px;
  margin-left: 20px;
  margin-top: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  color: black;
  font-size: 1.5em;
  margin-top: 10px;
  margin-left: 25px;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}
.move-right {
  margin-top: 0px;
  margin-left: 15px;
}

.account-header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.sell-item {
  text-align: center;
  border: solid;
  margin-left: 650px;
  margin-right: 650px;
  margin-top: 150px;
  padding: 50px;
  background-color: lightgray;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.view-cart {
  text-align: center;
  border: solid;
  margin-left: 650px;
  margin-right: 650px;
  margin-top: 20px;
  padding: 50px;
  background-color: lightgray;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}
