body {
  background-color: #7991f0;
  margin: 0;
}

.flex {
  display: flex;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
}

.cart {
  text-align: center;
}
.img {
  width: 90px;
  height: 90px;
}
.categories {
  text-align: center;
  border-style: solid;
  border-radius: 25px;
  padding: 14px;
  width: 100px;
  height: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.site-header {
  text-align: left;
  margin-left: 400px;
}

.search-bar {
  text-align: center;
  margin-top: 20px;
}

.account-link {
  text-align: right;
  margin-left: 700px;
  margin-top: 20px;
}

.details {
  background: white;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  border-radius: 25px;
  width: 200px;
  height: 200px;
  text-align: center;
}

.top-bar {
  background-color: darkblue;
}

.categories-container {
  margin-top: 35px;
}
